* {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  body {
    background-color: #030810;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body header {
    padding-left: 1em;
    padding-top: 1em;
    background: linear-gradient(#6e15e7, #30a0e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body header span {
    font-size: 1rem;
  }
  body main {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 3rem);
    width: 100%;
  }
  body main #logo {
    width: clamp(250px, 100%, 500px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }
  body main #logo #imglogo {
    width: clamp(100px, 100%, 200px);
  }
  body main form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(100px, 90%, 500px);
  }
  body main form #inputwrapper {
    width: 100%;
    background-color: #171C24;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: solid 0.05px white;
    border-radius: 15px;
  }
  body main form #inputwrapper #wallet_id {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    flex: 4;
    outline: none;
    color: white;
  }
  body main form #inputwrapper input:-webkit-autofill {
    background-color: transparent;
  }
  body main form #inputwrapper #submit {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    width: inherit;
    font-weight: 800;
    color: white;
    background: linear-gradient(#6e15e7, #30a0e7);
    flex: 1;
    border-radius: 15px;
    transition: background 2s;
  }
  body main form #inputwrapper #submit:hover {
    background: linear-gradient(#30a0e7, #6e15e7, #4D49E7);
  }
  body main form #airdropValue {
    font-size: 1.5rem;
    margin-top: 2rem;
    background: linear-gradient(#6e15e7, #30a0e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }